


.Titulo {
    display:flex;
    font-size: 100px;
    color: rgb(255, 187, 0);
    font-family: 'Bebas Neue', cursive;
    padding: 0%;
    margin: 90px auto;
    width: 1080px;
    height: 250px;
    border: 10px black solid;
    background: linear-gradient(180deg, rgb(243, 109, 0), rgb(119, 0, 0)); 
}

.Titulo {
    animation-name: Titulo;
    animation-duration: 4s;
    position: relative;
}

@keyframes Titulo {
    0% {left:auto; top:-500px; display: block;}
    100% {left:auto; top:00px;}
}





.subtitulo-txt{
    margin: 30px auto;
    width: 1406px;
    color: rgb(255, 187, 0);
    font-size: 30px;
    border: 10px gree solid;
    font-family: 'klee One';
}

.subtitulo-img img{
    margin: 30px auto;
    width:880px;
    border-radius: 20px;
}

.subtitulo-img {
    width: 100%;
    display: flex;
    justify-content: center;
}







.noticia-titulo{
    display:flex;
    font-size: 30px;
    color: white;
    font-family: 'klee One';
    justify-content: center;
}

.noticia-img1 img{
    display:flex;
    margin: 85px auto;
    width: 1000px;
    border-radius: 20px;
    padding: 0px 0px;
}


.noticia-txt{
    display:flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-family: 'klee One';
}
.noticia-img2 img{
    display:flex;
    margin: 0px auto;
    width: 650px;
    border-radius: 20px;
    margin-top: 70px;
}

a{
    text-decoration: none;
    color:rgb(0, 102, 255);
}






.cierre{
    font-size: 20px;
    color: white;
    font-family: 'klee One';
    margin-top: 300px;
}







.comentarios{
    font-size: 20px;
    color: white;
    font-family: 'klee One';
}
.comentaimput textarea{

    width: 700px;
    height: 100px;
    color: white;
}
.comentaimput input{
    color: white;
}



*{
    margin: 10px;
    padding: 0px;
    background-color: black;
}